/* Tailwind base */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,900;1,100;1,300&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #1b2559;
    --family: "DM Sans", sans-serif;
    --color-secondary: #F4F7FE;
    --color-btn: #4f46e5;
}

/* Custom class */
.Sidebar-Responsiveness {
    width: 240px;
}

body {
    font-family: "DM Sans", sans-serif !important;
}



/* Media query for mobile (max-width < 640px) */
@media screen and (max-width: 639px) {
    .Sidebar-Responsiveness {
        width: 0 !important;
    }

    .search-input {
        width: 100%;
    }
}